<template name="basicLayout">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Prayer Board</a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li>
                        {{#linkTo route="home"}}
                        Home
                        <span class="sr-only">(current)</span>
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo route="prayerRequest"}}
                        Requests
                        <span class="sr-only">(current)</span>
                        {{/linkTo}}
                    </li>
                    {{#if currentUser}}
                    <li>
                        {{#linkTo route="userSetting"}}
                        User Settings
                        <span class="sr-only">(current)</span>
                        {{/linkTo}}
                    </li>
                    {{/if}}
                </ul>
                <ul class="navbar-text navbar-right">
                    {{> loginButtons }}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    {{> yield}}
    </div>
</template>
